.container {
    padding: 20px;
    background-color: white;
    box-shadow: 1px 2px 5px #787878;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

p {
    line-height: 30px;
}


.container-monthly-loan {
    margin-top: 50px;
    padding:30px;
    background-color: rgb(145, 167, 145);
}


