
.container {
    position: relative;
    width: 75%;
    margin: 40px auto 0 auto;
    text-align: left;

}

.line-seperate {
    display: block;
    width: 100%;
    border: 0.1px solid #f0f0f0;
    background-color: #f0f0f0;
    margin: 0 auto 25px auto;
}


.slider {
    margin-top: 20px;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 20px;
    background: #dfdfdf;
    outline: none;
    transition: opacity .2s;
}

  
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
border-radius: 50px;
appearance: none;
width: 23px;
height: 23px;
background: #395896;
cursor: pointer;
}


label {
    display: block;
    text-align: left;
    font-size: 13px;
    color: #4a4a4a;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.value {
    position: absolute;
    right: 0;
    top: 20px;
    font-weight: bold;
} 

.suffix {
    font-weight: bold;
}

/* .value {
    position: absolute;
    right: 0;
    top: 10px;
    width: 22%;
    border: 1px solid #ccc;
    color: #4a4a4a;
    border-radius: 5px;
    padding: 5px 0px 5px 15px;
} */

/*
.suffix {
    font-weight: bold;
    padding-left: 6px;
    padding-right: 10px;
    border-left: 1px solid #ccc;;
    position: absolute;
    right: 0px;
}

*/





